body {
  background: url("./images/background-photo.jpg") no-repeat;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
  text-align: center; }

.container {
  background-color: orange;
  margin: auto;
  width: 60%;
  padding: 15px;
}
  h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    padding: 20px;

  }

  button {
    width: 20%;
   margin: 8px auto;
   border-radius: 5%;
   border-color: teal;
   border-width: 8px;
   box-sizing: border-box;
   font-weight: bold;
   background-color: white;
   letter-spacing: 2px;
   /*position: relative;*/
   top: -40px;
  }
